.gridSpace {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200;
}

.row {
  display: flex;
  flex-direction: row;
}
